/* SEÇÃO HOME */
@import url(root.css);

body {
    padding: 0;
    margin: 0;
    display: flex;

}

.conteudo {
    width: 100%;
    height: 100vh;
    background-image: url(../Imagens/50568021586_7db2730b6a_c.jpg);
    background-size: cover;
}

.navbar {
    width: 100%;
    height: 50px;
    display: flex;

}



.vermelho {
    width: 38%;
    height: 100%;
    background-color: #8D0303;
    display: flex;
    justify-content: center;
    align-items: center;
}

.branco {
    width: 38%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.preto {
    box-sizing: border-box;
    padding: 0 3rem 0 0;
    width: 38%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: right;
    align-items: center;
}

.idolos button:hover{
    transform: translate(-150%, 0);
    background-color: black;
    color: white;
    
 }

 .idolos button:hover{
    transform: scale(1.1);
    transition: all 0.3s;
 }
 

button {
    border-radius: 30px;
    height: 65%;
    align-items: center;
    border: none;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;
    cursor: pointer;
}
button:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

.trofeu button{
    background-color: #8D0303;
    color: white;
  
}

.jogadores{
transform: translate(-80%, 0);
}


span {
    color: white;
}

.texto {
    color: rgb(0, 0, 0);
}

.texto2 {
    color: white;
    font-size: 20px;
}

.preto .cadastro {
    background-color: #8D0303;
    text-decoration: none;

}

a {
    text-decoration: none;
}


.card h1 {
    color: white;
    opacity: 1 !important;
    text-shadow: black 2px 2px;
    font-size: 70px;
    width: 50%;
    transform: translate(5%, -5%);
}


.o {
    font-size: 150px;
}

#tri {
    color: var(--vermelho);
}

#lor {
    color: black;
}




