
/* Página de Gráficos */
.dash-header {
  background-color: #8D0303;
}

.dash {
  width: 80%;
  position: relative;
  left: 20%;
  background-image: url(../Imagens/estadiomorumbi_noite.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 
}

.janela {
  display: flex;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #8D0303;
  background-color: #000000;
}

.header-left h1 {
  color: #8D0303;
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  margin-left: 10px;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #8D0303;
  font-weight: 300;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  
}

.hello h3 span {
  font-weight: 800;
}


.btn-logout {
  color: white;
  background-color: #000000;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
  cursor: pointer;
  margin-top: 35px;
}

.btn-logout {
  width: 20%;
  background-color: #8D0303;
  margin-bottom: 100px;
  padding: 10px 15px;

}

.btn-logout h3 {
  margin: 0;
}

.btn-logout a{
    text-decoration: none;
    color: white;
}

.charts {
  width: 70%;
  margin: auto;
  padding-top: 10px;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin: 20px auto; 
  max-width: 400px; 

}

.chart-container h2 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 15px; 
  color: #8D0303;
}

#kpiChart {
  width: 100%;  
}

#kpideStatus {
  margin-top: 20px; 
  font-size: 18px; 
  font-weight: bold; 
  color: #8D0303; 
  text-align: center;
  border: 2px solid #8D0303; 
  padding: 10px; 
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

/* Alterando as KPIs para uma melhor visualização 17/01 */
.kpi-container {
  display: flex; 
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: absolute;
  top: 25%;
  left: 5%;
}

.kpi {
  text-align: center; 
  background-color: #444; 
  padding: 20px; 
  border-radius: 10px; 
  color: white; 
  width: 160px; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
  transition: transform 0.3s ease, background-color 0.3s ease; 
}

.kpi:hover {
  transform: scale(1.05); 
  background-color: #555; 
}

.kpi h3 {
  font-size: 20px; 
  margin-bottom: 15px; 
  font-family: 'Times New Roman', Times, serif; 
  text-transform: uppercase; 
  color: #ffffff; 
}

.kpi p {
  font-size: 22px; 
  font-weight: bold; 
}


.kpi-acerto #acertosKpi {
  color: #32CD32; 
}


.kpi-error #errosKpi {
  color: #8D0303; 
}

