body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.conteudo{
   background-image: url(../Imagens/img-cadastro.jpg);
  height: 607px;
}


.header-left a {
  text-decoration: none;
  color: #8D0303;
  font-family: 'Times New Roman', Times, serif;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #000000;
  background-color: #8D0303;
}

.dash-right {
  display: flex;
  width: 70%;
  height: fit-content;
  position: relative;
  top: 0;
  left: 25%;
  height: 100vh;
  overflow: auto;
}

.header-left h1 {
  color: #ffffff;
  margin-left: 15px;

}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #ffffff;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: white;
  background-color: #ffffff;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}


.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #ffffff;
  color: #8D0303;
  border-radius: 10px;
  text-align: center;
  padding: 8px 10px;
  margin-bottom: 100px;
  cursor: pointer;
}