
/* Página de Gráficos */
.dash-header {
  background-color: #212124;
}

.dash {
  width: 80%;
  position: relative;
  left: 20%;
  background-color: #161618;
  height: 100vh;
  overflow: auto;
 
}

.janela {
  display: flex;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #fa4f00;
  background-color: #212124;
}

.header-left h1 {
  color: #fa4f00;
  font-family: "Great Vibes", cursive;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #e3b062;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav,
.btn-logout {
  color: white;
  background-color: #fa4f00;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
  cursor: pointer;
}

.btn-nav-white {
  background-color: white;
  border: 3px solid #fa4f00;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: #fa4f00;
  margin: 0;
}

.btn-logout {
  width: 20%;
  background-color: #fa4f00;
  margin-bottom: 100px;
  padding: 10px 15px;
}

.btn-logout h3 {
  margin: 0;
}

.charts {
  width: 70%;
  margin: auto;
  padding-top: 10px;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin: 20px auto; 
  max-width: 400px; 
}

.chart-container h2 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px; 
  color: #ffffff;
}

#kpiChart {
  width: 100%;
  max-width: 300px; 
  
}

#kpideStatus {
  margin-top: 20px; 
  font-size: 18px; 
  font-weight: bold; 
  color: #4CAF50; 
  text-align: center;
  border: 2px solid #4CAF50; 
  padding: 10px; 
  border-radius: 8px; 
  background-color: #f9f9f9; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
