body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  background-image: url(../Imagens/f6alb5sm1fxhytpkawzf.avif);
}

header {
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 60px;
  flex-direction: row;
  justify-content: end;
  padding-right: 30px;
  align-items: end;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  font-family: "Times New Roman", Times, serif;
  cursor: pointer;
  margin-left: 5px;
  transition: 0.5s;
}

a:hover {
  color: #8d0303;
}

.botao {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 20px;
  width: 130px;
  height: 40px;
  cursor: pointer;
  margin-left: 5px;
  transition: 0.5s;
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

.botao:hover {
  color: white !important;
  background: #8d0303;
}

.tela_cadastro {
  width: 30%;
  height: 90%;
  display: flex;
  flex-direction: column;
  transform: translate(15%, 0%);
  border-radius: 20px;
  position: absolute;
  align-items: center;
  color: white !important;
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  transform: translate(-15%, 40%);
}

.tela_cadastro p {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0;
  transform: translate(2%, -180%);

}

.tela_cadastro input {
  padding: 10px;
  width: 85%;
  border-radius: 20px;
  border: none;
}

.tela_login {
  padding: 15px;
  width: 25%;
  height: 60%;
  display: flex;
  flex-direction: column;
  transform: translate(15%, 23%);
  border-radius: 20px;
  position: absolute;
  align-items: center;
  color: white !important;
  font-family: 'Times New Roman', Times, serif;
}

#favorito {
  border-radius: 20px;
  padding: 5px;
  transform: translate(2%, -100%);
}

#idolo {
  border-radius: 20px;
  padding: 6px;
  transform: translate(2%, -100%);
}

.tela_login p {
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0;

}


.tela_login input {
  padding: 10px;
  width: 85%;
  border-radius: 20px;
  border: none;
  color: transparent;
}

.container-input {
  padding: 10px;
  width: 85%;
}

.botao-tela {
  padding: 10px;
  border-radius: 20px;
  border: none;
  width: 150px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  transform: translate(-8%, -180%);
} 

.botao-tela1 {
  padding: 10px;
  border-radius: 20px;
  border: none;
  width: 150px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  transform: translate(-8%, -50%);
} 

.container-idolo {
  transform: translate(50%, -110%);
}