body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  background-image: url(../Imagens/f6alb5sm1fxhytpkawzf.avif);
}

header {
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 60px;
  flex-direction: row;
  justify-content: end;
  padding-right: 30px;
  align-items: end;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  font-family: "Times New Roman", Times, serif;
}

.botao {
  background-color: transparent;
  border: 2px solid #fff;
  width: 130px;
  height: 40px;
  cursor: pointer;
  margin-left: 5px;
  transition: 0.5s;
}

.botao :hover {
  background: #8d0303;
}

a ::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: .5s;
}

a:hover:after{
    transform: scaleX(1);

}